pool ntp.ubuntu.com iburst
driftfile /var/lib/chrony/chrony.drift
makestep 1 3
rtcsync
keyfile /etc/chrony/chrony.keys
leapsectz right/UTC
logdir /var/log/chrony

# Allow time sync from internal network
allow 192.168.0.0/24
