disable_plaintext_auth = yes
auth_mechanisms = plain login
auth_username_format = %Ln

passdb {
  driver = ldap
  args = /etc/dovecot/dovecot-ldap.conf.ext
}

userdb {
  driver = static
  args = uid={{ mail_uid }} gid={{ mail_gid }} home=/var/vmail/toss.lan/%n allow_all_users=yes
}
