uris = {{ ldap_uris | join(' ') }}
ldap_version = 3
tls = no
tls_require_cert = hard
tls_ca_cert_file = /etc/ssl/certs/ca-certificates.crt

base = dc=toss,dc=lan
scope = subtree

auth_bind = yes
auth_bind_userdn = %u@toss.lan

user_filter = (&(objectClass=user)(sAMAccountName=%u))
user_attrs = =home=/home/%u,=mail=maildir:~/Maildir
