# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
**/*.tfvars
**/*.tfvars.json
crash.log

# SSH Keys
id_ed25519*
id_rsa*
*.pem

# OS
.DS_Store
*.bak
*.log

# Ansible
ansible/*.retry
ansible/vault/*.vault
*.pyc
__pycache__/
ansible/host_vars/*.yml
ansible/group_vars/secrets.yml

# Temporary
*.tmp
