{% set chrony_ntp_servers = ntp_servers_by_host[inventory_hostname] | default(ntp_servers) %}
{% set self_ntp_sources = [inventory_hostname, ansible_host | default('')] %}
{% for server in chrony_ntp_servers %}
{% if server not in self_ntp_sources %}
pool {{ server }} iburst
{% endif %}
{% endfor %}

driftfile /var/lib/chrony/chrony.drift
makestep 1 3
rtcsync
keyfile /etc/chrony/chrony.keys
logdir /var/log/chrony

allow 192.168.0.0/24


#pool ntp.ubuntu.com iburst
#driftfile /var/lib/chrony/chrony.drift
#makestep 1 3
#rtcsync
#keyfile /etc/chrony/chrony.keys
#leapsectz right/UTC
#logdir /var/log/chrony

# Allow time sync from internal network
#allow 192.168.0.0/24
